body{
	background-image: url("../imagens/café.jpg"); 
	background-repeat: no-repeat;
 	background-size: 100%;
	font-size: 25px;
}

form {
	position: absolute;
	top: 15%; 
	left: 13%; 
	right: 53%;
	font-family: 'Lobster', cursive; 
}

.form-control{
	height: 50px;
   	background-color: #f0efeb;
   	font-family: fantasy;
}

form #butao{
	width: 50%;
	display: block;
	background-color: #bf0603;
	margin: 15px auto;
	font-size: 20px;
	border: 1px solid #8d0801;
}


h2{	text-align: center;}
